.datapass-table {
  border-collapse: collapse; 
}

.datapass-table th,td {
  padding: 15px;
}

.datapass-table input {
 background-color: white;
}

.datapass-table thead {
  padding: 10px 0;
  background-color: #ECECFE;
}

.datapass-table tbody tr {
  height: 77px;
  border-bottom: 1px solid #E5E5E5;
}
