.admin-table-container input {
    appearance: auto;
    border: solid;
  }
  
  .admin-table-wrapper {
    display: grid;
  }
  
  .admin-table {
    overflow: auto;
  }
  
  .admin-table th {
    vertical-align: bottom;
  }
  
  .admin-table td input[type='checkbox'] {
    margin-right: inherit;
  }
  
  .admin-table th:first-of-type,
  .admin-table td:first-of-type {
    position: sticky;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: white;
    z-index: 1;
  }
  
  .admin-table td:nth-child(3n + 1) {
    border-right: 1px solid black;
    padding-right: 6px;
  }
  
  .admin-table td:nth-child(3n + 2) {
    padding-left: 6px;
  }
  
  .admin-table table {
    border-collapse: collapse;
  }
  
  .admin-table td {
    padding: 2px;
  }
  
