.datapass-table-wrapper {
  overflow: scroll;
}

.datapass-table {
  border-collapse: collapse; 
}

.datapass-table th,td {
  padding: 15px;
}

.datapass-table.firstColumnFixed th:first-of-type,
.datapass-table.firstColumnFixed td:first-of-type {
  position: sticky;
  left: 0;
  z-index: 1;
}

.datapass-table.firstColumnFixed th:first-of-type{
  background-color: #ECECFE;
}

.datapass-table.firstColumnFixed td:first-of-type{
  background-color: white;
}

.datapass-table input {
 background-color: white;
}

.datapass-table thead {
  padding: 10px 0;
  background-color: #ECECFE;
}

.datapass-table tbody tr {
  height: 77px;
  border-bottom: 1px solid #E5E5E5;
}
