.new-login-container {
  display: block;
  justify-content: flex-start;
  width: auto;
  border: 1px solid var(--datapass-light-grey);
  padding: 8px 12px;
}

.new-login-container p {
  font-weight: bold;
}
