[Unit]
Description=Dgfip Contractualization oauth
After=network-online.target

[Service]
Type=simple

User={{ app_user }}
Group={{ app_user }}

EnvironmentFile=/etc/api-particulier-courtier-oauth.conf
ExecStart=/opt/apps/api-particulier-courtier-oauth/api-particulier-courtier-oauth/bin/www

Restart=on-failure
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
