[Unit]
Description=Signup OAuth
After=network-online.target

[Service]
Type=simple

User={{ app_user }}
Group={{ app_user }}

WorkingDirectory=/opt/apps/signup.api.gouv.fr-oauth/current
EnvironmentFile=/etc/signup.api.gouv.fr-oauth.conf
ExecStart=/usr/local/bin/bundle exec puma -C ./config/puma.rb

Restart=on-failure
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
