RAILS_ENV=production
SECRET_KEY_BASE=61f19202271b83cdb1f4b30d9451381577e24cae63840222e935930f125c28befc2f170c654167e6461b5e4f1ca99e7253e5b31be84e5368d18d75e1bdacc05c
PORT={{ oauth_port }}
DEVISE_SECRET={{ devise_secret }}
ADMIN_LOGIN={{ oauth_admin_login }}
ADMIN_PASSWORD={{ oauth_admin_password }}
PG_DATABASE={{ oauth_pg_db }}
PG_USER={{ oauth_pg_user }}
PG_PASSWORD={{ oauth_pg_password }}
