---
http_interactions:
- request:
    method: get
    uri: https://staging.api.gouv.fr/api/v1/apis
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d1ad-HJLKMbuoQfl1ah1eqm/1ZycfZAk"'
    body:
      encoding: UTF-8
      string: '[{"title":"API Ingres - Nomenclatures","tagline":"Récupérez l''ensemble
        des référentiels utilisés par les Systèmes d''Information des Ressources Humaines
        de la Fonction Publique d''Etat","path":"/les-api/API_Ingres_Nomenclatures","slug":"API_Ingres_Nomenclatures","openness":"closed","owner":"Centre
        Interministériel des Systèmes d''Information relatifs aux Ressources Humaines","owner_acronym":"CISIRH","logo":"/images/api-logo/logo-cisirh.png","datapass_link":"https://datapass.api.gouv.fr/api-ingres"},{"title":"API
        Ingres Noyau","tagline":"Récupérez l''ensemble des référentiels utilisés par
        les Systèmes d''Informations des Ressources Humaines de la Fonction Publique
        d''Etat","path":"/les-api/API_Ingres_Noyau","slug":"API_Ingres_Noyau","openness":"closed","owner":"Centre
        Interministériel des Systèmes d''Information relatifs aux Ressources Humaines","owner_acronym":"CISIRH","logo":"/images/api-logo/logo-cisirh.png","datapass_link":"https://datapass.api.gouv.fr/api-ingres"},{"title":"Légifrance
        Bêta","tagline":"Réutilisation des données juridiques disponibles sur le site
        Légifrance","path":"/les-api/DILA_api_Legifrance","slug":"DILA_api_Legifrance","openness":"semi_open","owner":"Direction
        de l''information légale et administrative","owner_acronym":"DILA","logo":"/images/api-logo/dila.png","datagouv_uuid":["53ae8af9a3a729709f56d50c"]},{"title":"API
        La Bonne Boite","tagline":"Récupérez la liste des entreprises classées par
        potentiel d''embauche","path":"/les-api/LaBonneBoite","slug":"LaBonneBoite","openness":"semi_open","owner":"Pôle
        Emploi","owner_acronym":null,"logo":"/images/api-logo/logo_pole_emploi.jpg"},{"title":"API
        Référentiel SANDRE Version 1","tagline":"L''API Sandre Référentiel version
        1 donne accès à l''ensemble des jeux de données de référence d[...]
