[submodule "signup-front"]
	path = signup-front
	url = git@github.com:betagouv/signup-front.git
[submodule "signup-back"]
	path = signup-back
	url = git@github.com:betagouv/signup-back.git
[submodule "api-auth"]
	path = api-auth
	url = git@github.com:betagouv/api-auth.git
