[submodule "signup-front"]
	path = signup-front
	url = git@github.com:betagouv/signup-front.git
[submodule "signup-back"]
	path = signup-back
	url = git@github.com:betagouv/signup-back.git
[submodule "signup-oauth"]
	path = signup-oauth
	url = git@github.com:betagouv/signup-oauth.git
[submodule "api-scopes"]
	path = api-scopes
	url = git@github.com:betagouv/api-scopes.git
[submodule "api-auth"]
	path = api-auth
	url = git@github.com:betagouv/api-auth.git
