version: "3.9"

services:
  db:
    image: postgres:9.5
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: datapass-development
      POSTGRES_USER: back
      POSTGRES_PASSWORD: back
    ports:
      - 5432:5432
  cache:
    image: redis
  back:
    build:
      context: signup-back
    command: bash -c "rm -f tmp/pids/server.pid && rails db:migrate && bundle exec rails s -p 3001 -b '0.0.0.0'"
    volumes:
      - ./signup-back:/myapp
      - /myapp/vendor
    environment:
      PG_HOST: db
    ports:
      - 3001:3001
    depends_on:
      - db
      - cache
  worker:
    build:
      context: signup-back
    command: bash -c "bundle exec sidekiq"
    volumes:
      - ./signup-back:/myapp
      - /myapp/vendor
    depends_on:
      - back
      - db

volumes:
  postgres-data:
