.datapass-table {
  border-collapse: collapse;
  width: 100%;
  color: var(--text-default-grey);
  background-color: white;
}

.sorting-header {
  cursor: pointer;
}

.selected {
  background: rgba(0, 0, 0, 0.08);
}

.datapass-table th,
td {
  padding: 15px;
}

.datapass-table.firstColumnFixed th:first-of-type,
.datapass-table.firstColumnFixed td:first-of-type {
  position: sticky;
  left: 0;
  z-index: 1;
}

.datapass-table.firstColumnFixed th:first-of-type {
  background-color: #ececfe;
}

.datapass-table.firstColumnFixed td:first-of-type {
  background-color: white;
}

.datapass-table input {
  background-color: white;
}

.datapass-table thead {
  padding: 10px 0;
  background-color: #ececfe;
}

.datapass-table tbody tr {
  height: 77px;
  border-bottom: 1px solid #e5e5e5;
}

.datapass-table .clickable-row:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}
