.opinion-button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
  border-radius: 5px;
  opacity: 1;
  transition: box-shadow 0.2s ease-in-out, opacity 0.4s ease-in-out 0.2s;
}

.opinion-button img {
  margin-right: 5px;
}

.opinion-button.activated {
  box-shadow: none;
  opacity: 0;
  pointer-events: none;
}
