server {
  listen 443 ;
  server_name {{ alternative_domain }};
  ssl on;
  ssl_certificate /etc/letsencrypt/live/{{ alternative_domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ alternative_domain }}/privkey.pem;
  ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
  add_header Strict-Transport-Security "max-age=15552000" always;
  add_header X-Frame-Options "DENY";
  add_header X-Robots-Tag "noindex,nofollow";

  ssl_prefer_server_ciphers on;
  ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS !RC4";

  return 301 $scheme://{{ current_domain }}$request_uri;
}
