.steps-form-description {
  text-align: left;
  margin: 5em 3em;
}

@media (max-width: 749px) {
  .steps-form-description {
    margin: 5em 0;
  }
}

.steps-form-description > li {
  margin-top: 2.5em;
}
