.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contact-item {
  flex-basis: calc(33% - 3rem);
  flex-grow: 0;
  margin: 0.5rem;
}

@media all and (max-width: 1650px) {
  .contact-item {
    flex-basis: calc(50% - 2rem);
  }
}

@media all and (max-width: 1248px) {
  .contact-list {
    flex-direction: column;
  }

  .contact-item {
    flex-basis: 50%;
  }
}

.contact-item.add-card {
  border: 2px dashed var(--g600);
  min-height: 500px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  line-height: 25px;
  color: var(--g600);
}

.add-card:hover {
  background-color: var(--g100);
}
