RAILS_ENV=production
SECRET_KEY_BASE={{ secret_key_base }}
PORT={{ back_port }}
PG_USER={{ back_pg_user }}
PG_PASSWORD={{ back_pg_password }}
PG_DB={{ back_pg_db }}
DEVISE_SECRET={{ devise_secret }}
FRANCE_CONNECT_CLIENT_ID={{ france_connect_client_id }}
FRANCE_CONNECT_CLIENT_SECRET={{ france_connect_client_secret }}
RESOURCE_PROVIDER_CLIENT_ID={{ resource_provider_client_id }}
RESOURCE_PROVIDER_CLIENT_SECRET={{ resource_provider_client_secret }}
MAILJET_API_KEY={{ mailjet_api_key }}
MAILJET_SECRET_KEY={{ mailjet_secret_key }}
