[Unit]
Description=Signup back
After=network-online.target

[Service]
Type=simple

User={{ app_user }}
Group={{ app_user }}

EnvironmentFile=/etc/signup.api.gouv.fr-back.conf
ExecStart=/opt/apps/signup.api.gouv.fr-back/signup.api.gouv.fr-back/bin/www

Restart=on-failure
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
