RAILS_ENV=production
SECRET_KEY_BASE=3eb2f607525cea7c70d1ee1dab712a88a1f80896cb493f5a7e44948aab334e5542d1a2b31dd93f41370915acb949a6b68f0c49c3aeff5ef49982aadfb5afff19
PORT={{ back_port }}
PG_USER={{ back_pg_user }}
PG_PASSWORD={{ back_pg_password }}
PG_DB={{ back_pg_db }}
DEVISE_SECRET={{ devise_secret }}
FRANCE_CONNECT_CLIENT_ID={{ france_connect_client_id }}
FRANCE_CONNECT_CLIENT_SECRET={{ france_connect_client_secret }}
RESOURCE_PROVIDER_CLIENT_ID={{ resource_provider_client_id }}
RESOURCE_PROVIDER_CLIENT_SECRET={{ resource_provider_client_secret }}
