/* side by side input field */
.form-row {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form__group + .form-row {
  margin-top: 2em;
}

.form-row + .form__group {
  margin-top: 2em;
}

.form-col {
  flex-grow: 1;
}

.form-col + .form-col {
  margin-left: 2em;
}

@media all and (max-width: 549px) {
  .form-row {
    flex-direction: column;
  }

  .form-col + .form-col {
    margin-left: inherit;
    margin-top: 2em;
  }
}
