RAILS_ENV=production
SECRET_KEY_BASE={{ secret_key_base }}
PORT={{ app_port }}
PG_USER={{ pg_user }}
PG_PASSWORD={{ pg_password }}
PG_DATABASE={{ pg_database }}
DEVISE_SECRET={{ devise_secret }}
FRANCE_CONNECT_CLIENT_ID={{ france_connect_client_id }}
FRANCE_CONNECT_CLIENT_SECRET={{ france_connect_client_secret }}
RESOURCE_PROVIDER_CLIENT_ID={{ resource_provider_client_id }}
RESOURCE_PROVIDER_CLIENT_SECRET={{ resource_provider_client_secret }}
MAILJET_API_KEY={{ mailjet_api_key }}
MAILJET_SECRET_KEY={{ mailjet_secret_key }}
{% if admin_login is defined %}
ADMIN_LOGIN={{ admin_login }}
ADMIN_PASSWORD={{ admin_password }}
{% endif %}
