RAILS_ENV=production
SERVER_NAME={{ inventory_hostname }}
PORT={{ app_port }}

FRONT_HOST={{ front_host }}
BACK_HOST={{ back_host }}
OAUTH_REDIRECT_URI={{ oauth_redirect_uri }}
OAUTH_HOST={{ oauth_host }}

DEVISE_SECRET={{ devise_secret }}
SECRET_KEY_BASE={{ secret_key_base }}

PG_USER={{ pg_user }}
PG_PASSWORD={{ pg_password }}
PG_DATABASE={{ pg_database }}

{% if france_connect_host is defined %}
FRANCE_CONNECT_HOST={{ france_connect_host }}
{% endif %}
{% if france_connect_client_id is defined %}
FRANCE_CONNECT_CLIENT_ID={{ france_connect_client_id }}
FRANCE_CONNECT_CLIENT_SECRET={{ france_connect_client_secret }}
{% endif %}

RESOURCE_PROVIDER_CLIENT_ID={{ resource_provider_client_id }}
RESOURCE_PROVIDER_CLIENT_SECRET={{ resource_provider_client_secret }}

{% if api_particulier_host is defined %}
API_PARTICULIER_HOST={{ api_particulier_host }}
{% endif %}
{% if api_particulier_api_key is defined %}
API_PARTICULIER_API_KEY={{ api_particulier_api_key }}
{% endif %}


{% if mailjet_api_key is defined %}
MAILJET_API_KEY={{ mailjet_api_key }}
MAILJET_SECRET_KEY={{ mailjet_secret_key }}
{% endif %}
{% if do_not_send_mail is defined %}
DO_NOT_SEND_MAIL=True
{% endif %}

{% if admin_login is defined %}
ADMIN_LOGIN={{ admin_login }}
ADMIN_PASSWORD={{ admin_password }}
{% endif %}

{% if api_scopes_domain_name is defined %}
API_SCOPES_DOMAIN_NAME={{ api_scopes_domain_name }}
{% endif %}
{% if api_scopes_database_name is defined %}
API_SCOPES_DATABASE_NAME={{ api_scopes_database_name }}
{% endif %}
{% if api_scopes_database_port is defined %}
API_SCOPES_DATABASE_PORT={{ api_scopes_database_port }}
{% endif %}
{% if api_scopes_readwrite_user is defined %}
API_SCOPES_READWRITE_USER={{ api_scopes_readwrite_user }}
{% endif %}
{% if api_scopes_readwrite_password is defined %}
API_SCOPES_READWRITE_PASSWORD={{ api_scopes_readwrite_password }}
{% endif %}
