:root {
  --datapass-blue: #0959b6;
  --datapass-background-grey: #ebeff3;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.page {
  min-height: 100vh;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 117px auto 280px;
  grid-template-columns: 100%;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.full-page {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 20%;
}

@media all and (max-width: 1248px) {
  .full-page {
    padding: 1.5rem 5%;
  }
}
