.datapass-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.datapass-container .datapass-highlight {
  flex-grow: 1;
  flex-basis: 0;
}
