main.user-enrollments-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  background-color: var(--datapass-background-grey);
}

.user-enrollments-list-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.user-enrollments-organisation-label {
  margin: 1.5rem 0 0;
  width: 100%;
}
