.datapass-container-two-btn {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--border-default-grey);
}

.datapass-two-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
