.datapass-text-input-suggestion {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.datapass-text-input-suggestion:hover,
.datapass-text-input-active-suggestion {
  background-color: var(--artwork-background-grey);
}
