.quick-view-list-empty {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quick-view-list-empty img {
  margin-bottom: 15px;
}

.quick-view-list-container {
  flex: 1;
}

.enrollment-quick-view {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.enrollment-quick-view-informations {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.enrollment-quick-view-title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.enrollment-quick-view-date {
  font-size: small;
}

.enrollment-quick-view-footer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.enrollment-quick-organization {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
