.card .card_graph {
  min-height: 200px;
  margin: auto;
  width: 100%;
}

.card .card_number {
  font-size: 80px;
  line-height: 80px;
  color: #1a535c;
  display: table;
  padding: 0 0 50px 0;
  margin: auto auto 0 auto;
}

.column-grid,
.row-grid {
  display: grid;
  grid-gap: var(--space-s);
}

.row-grid {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-items: stretch;
}
