.activity-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.event-item {
  display: flex;
  flex-direction: row;
}

.event-icon {
  width: 3rem;
  padding: 0.5rem 0;
}

.event-content {
  flex: 1 100%;
  padding: 0.5rem 0;
}

.event-item + .event-item > .event-content {
  border-top: 1px solid var(--border-default-grey);
}

.event-head {
  display: flex;
  justify-content: space-between;
}

.event-comment {
  background-color: var(--background-contrast-grey);
  color: var(--text-label-grey);
  border-radius: 0.25rem;
  margin-top: 0.4rem;
  white-space: pre-line;
  padding: 1rem;
}

.event-comment-demandeurs {
  background-color: var(--background-contrast-info);
}
