.datapass-badge-group {
  display: inline-flex;
  gap: 0.5rem;
}

.feed-sub-section {
  border-top: 1px solid var(--border-default-grey);
  border-bottom: 1px solid var(--border-default-grey);
}

.admin-unarchive-section {
  display: flex;
  justify-content: space-between;
}
