.tag-section {
  margin-bottom: 1em;
}

.feed-section {
  margin-bottom: 2em;
  padding-top: 2em;
  border-top: 1px solid var(--border-default-grey);
}

.notification-sub-section {
  border-bottom: 1px solid var(--border-default-grey);
  padding-bottom: 2em;
}
