[Unit]
Description={{ app_service_name }}
After=network-online.target

[Service]
Type=simple

User={{ app_user }}
Group={{ app_user }}

WorkingDirectory=/opt/apps/{{ app_service_name }}/current
EnvironmentFile=/etc/{{ app_service_name }}.conf
ExecStart=/usr/bin/npm run start

Restart=on-failure
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
