[Unit]
Description=Webhooks
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ app_user }}
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/webhook -verbose -hotreload -hooks /etc/webhooks.json -port {{ webhook_port }}

[Install]
WantedBy=multi-user.target
