.user-enrollments-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header h2 {
  margin-bottom: 0;
}

.enrollments-section {
  flex-grow: 1;
  padding: 1em 0;
}

.loading {
  display: flex;
  align-content: center;
  justify-content: center;
}

.organisation {
  font-weight: 600;
  font-size: large;
  margin: 1em 0;
}

.enrollments-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
}
